<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= @user.name %>
<div>
<% Assignment.where(attendee_id: @user.id).each do |x| %>
  <%= Event.where(id: x.attended_event_id).first.title %>
<% end %>
</div>